{% extends "base.html"%}
{% block content %}
  
  <div class>
  <div class="container" style="color: white; background-size: cover;">
    <div class = "col-lg-12" align="center">
      <h1 class="page-header">L O G I N
      </h1>

    </div>

  <div class="container" align="center">
    {% if form.errors %}
        <p style="color: red; display: block;">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form style="display: inline-block; text-align: left" method="post" action="">
      {% csrf_token %}
      <label style="display: block" class="form" for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label style="display: block" class="form" for="email">Password:</label>
      <input type="text" id="password" name="password"><br><br>
      <input class="ghost-button" type="submit" value="Login" style="background-color: #717568">
      <input type="hidden" name="next" value="">
    </form> 
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</body>
</html>

{% endblock content %}
