{% extends "base.html"%}
{% block content %}
	  {% if error %}
    <p>{{error}}</p>
  {% endif %}
	<div class>
	<div class="container" style="color: white; background-size: cover;">
		<div class = "col-lg-12" align="center">
			<h1 class="page-header">R E G I S T E R
			</h1>
		</div>

	<div class="container" align="center">
		<form style="display: inline-block; text-align: left" method="post" action="">
		{% csrf_token %}
	    	<label style="display: block" class="form" for="username">Username:</label>
			<input type="text" id="username" name="username"><br><br>
			<label style="display: block" class="form" for="email">Email Address:</label>
			<input type="text" id="email" name="email"><br><br>
			<label style="display: block" class="form" for="email">Password:</label>
			<input type="text" id="password_1" name="password_1"><br><br>
			<label style="display: block" class="form" for="email">Re-Type Password:</label>
			<input type="text" id="password_2" name="password_2"><br><br>
			<input class="ghost-button" type="submit" value="Submit" style="background-color: #717568">
	  </form>
	 </div>


{% endblock content %}