html {
  font-size: 16px;
  moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  overflow-x: hidden;
}

element.style {
  height: 100%;
}

div {
  display: block;
}

.navbar {
  background-image: url({% static "notestbackground.jpg" %});
  background-repeat: no-repeat;
  background-size: 1920px 1080px
}

.nav-item, .scroll-link, .navbar-collapse{
  font-family:  Muli, sans-serif;
  color: white;
  font-size: 1.4rem;
}

.nav-item:hover, .scroll-link:hover, .navbar-collapse:hover, .navbar-brand:hover {
  color: #717568;
}

.ghost-button {
  font-family: Muli, sans-serif;
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #717568;
}


.ghost-button-notebook {
  font-family: Muli, sans-serif;
  text-size:1rem;
  display: block;
  width: 400px;
  height: 45px;
  line-height: 22.5px;
  margin: 0 auto;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: width 0.3s ease-out,
              height 0.3s ease-out,
              line-height 0.3s ease-out;
}
.ghost-button-notebook:hover,
.ghost-button-notebook:active {
  color:#717568;
  font-family: Muli, sans-serif;
  background-color: white;
  width: 440px;
  height: 60px;
  line-height: 30px;
  transition: width 0.1s ease-in,
              height 0.1s ease-in,
              line-height 0.1s ease-in;
}

.button {
  background-color: #717568;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover,
.button:active {
  background-color: #fff;
  color: #717568;
}

.page-name {
  font-family: Muli, sans-serif;
  font-weight: bold;
  font-size: 7rem;
  color: white;
  padding-top: 5rem;
  letter-spacing: 1rem;
}

.page-header {
  font-family: Muli, sans-serif;
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 1rem;
  color: white;
  padding-top: 5rem;
  letter-spacing: 1rem;
}

.page-subheader {
  font-family: Muli, sans-serif;
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 1rem;
  color: white;
  padding-top: 5rem;
  letter-spacing: 1rem;
}

.form {
 font-family: Muli, sans-serif;
  font-size: 1.25rem;
  font-weight: bold
  margin-bottom: 1rem;
  color: white;
  padding-top: 1rem;
}

.error {
 font-family: Comic Sans, sans-serif;
  font-size: 1.25rem;
  font-weight: bold
  margin-bottom: 1rem;
  color: white;
  padding-top: 1rem;
}

.notes-section-title {
  background-color: #717568;
  color: white
  font-family: Muli, sans-serif;
  font-size: 2rem;
  font-weight: bold;

}

.notes-term-name {
  background-color: #BACBA9;
  font-family: Muli, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;

}

.notes-def {
  background-color: #E1F4CB;
  font-family: Muli, sans-serif;
  font-size: 1rem;
  font-weight: bold;

}

.section .term{
      padding:10px;
      padding-bottom: 50px;
    }

  .defintion{
    padding:10px;
  }

.text-box {
  width: 40px;
  height: 40px;
}

.question {
  font-family: Muli, sans-serif;
  font-size: 1rem;
  color: white;
}