{% extends "base.html" %}
{% block content %}
	<!--Name-->
	<div class>
		<div class="container" style="color: black; background-size: cover;">
			<div class = "col-lg-12" align="center">
				<h1 class="page-name">N O T E S T
				</h1>
				<div>
					<a class="ghost-button" href='{% url "notes:notes_index" user.get_username %}'>Notebooks</a>
					<a class="ghost-button" href="#quizzes">Quizzes</a>
				</div>
			</div>
		</div>
	{% if user.is_authenticated %}
	<a href = "{% url 'notes:notes_index' username=user.get_username %}">
	<h1> Welcome {{user.get_username}}</h1>
</a>
	{% endif %}
	<a href='{% url "login" %}'> Login </a>
	<br>
	<a href='{% url "core:register" %}'> Register </a>

{% endblock content %}

