{% extends 'base.html' %}
{% block content %}
	<div class="container" style="background-size: cover;">
			<div class = "col-lg-12" align="center">
				<h1 class="page-header">N O T E S
				</h1>
			</div>

	<div class="row">
		<div class = "col-10 list-group">
		{% for section in notes.sections %}
			<div class="list-group-item section nested-sortables" style="background-color: #717568"> <p class="notes-section-title">{{section.section_title}} </p>

			{% for term in section.terms %}
				<div class="list-group-item term nested-sortables" style="background-color: #BACBA9"><p class="notes-term-name"> {{term.term_name}} </p>
					{% for def in term.defintions %}
						<div class="list-group-item definition" style="background-color: #E1F4CB"><p class="notes-def"> {{def}} </p>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
			</div>
		

		{% endfor %}
		</div>
			<form class = "col-2" method="post" action="{% url 'notes:quiz_page' user.get_username note.pk %}">
		    {% csrf_token %}
		      
			<p class="question">Number of Questions</p>
			<input class="text-box" type="text" id="qs" name="qs"><br><br>
		    <input class="button" type="submit" value="Quiz" />
		    <input type="hidden" name="next" value=""> 
		  </form>

		  <form method = "post" action="{% url 'notes:note_page' user.get_username note.pk %}">
		  	{% csrf_token %}
		  <input type="radio" name="model" value="Section"> Section
		  <input type="radio" name="model" value="Term"> Term
		  <input type="radio" name="model" value="Definition"> Defintion
		  <input type="radio" name="model" value="Example"> Example
		  <label class="" for="parent">What is it contained in?</label>
		  <input class="" type="text-box" id="parent" name="parent">
		  <label class="" for="text">Text</label>
		  <input class="" type="text-box" id="text" name="text">
		  <input class="button" type="submit" value="Submit" />
		    <input type="hidden" name="next" value=""> 
		</form>

	 </div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

	<script>
		var nestedSortables = [].slice.call(document.querySelectorAll(".nested-sortables"))

		for(var i = 0; i < nestedSortables.length; i++){
			new Sortable(nestedSortables[i], {
				group: "nested",
				animation: 150,
				ghostClass: "text-info",
				fallbackOnBody: true,
				swapThreshold: 1,
				invertSwap: true,
			})
		}
	</script>

{% endblock content %}

	
	
