{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.section .term{
			padding:10px;
			padding-bottom: 50px;
		}

		.defintion{
			padding:10px;
		}
	</style>
</head>
<body>
	<div class="container" style="background-size: cover;">
			<div class = "col-lg-12" align="center">
				<h1 class="page-header">N O T E S
				</h1>
			</div>
	<div class="row">
		<div class="col-md-6">
		<div class = "list-group list-group-flush ">
		{% for section in notes.sections %}
			<div class="list-group-item section nested-sortables" style="background-color: #717568"> <p class="notes-section-title">{{section.section_title}} </p>

			{% for term in section.terms %}
				<div class="list-group-item term nested-sortables"><p class="notes-term-name"> {{term.term_name}} </p>
					{% for def in term.defintions %}
						<div class="list-group-item definition"><p class="notes-def"> {{def}} </p>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
			</div>
		</div>

		{% endfor %}	
		</div>

		<div class="col-md-2">
			<form method="post" action="{% url 'notes:quiz_page' user.get_username note.pk %}">
		    {% csrf_token %}
		      <label for="qs"></label>
				<input type="text" id="qs" name="qs"><br><br>
		    <input class="ghost-button" type="submit" value="Quiz" />
		    <input type="hidden" name="next" value=""> 
		  </form>
	 	 </div>
	 </div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

	<script>
		var nestedSortables = [].slice.call(document.querySelectorAll(".nested-sortables"))

		for(var i = 0; i < nestedSortables.length; i++){
			new Sortable(nestedSortables[i], {
				group: "nested",
				animation: 150,
				ghostClass: "text-info",
				fallbackOnBody: true,
				swapThreshold: 1,
				invertSwap: true,
			})
		}
	</script>
</body>
</html>

{% endblock content %}

	
	
