<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% for question in questions.questions %}
		<p>{{question.question}}</p>
		<form method="POST">
		{% csrf_token %}
		{% for answer in question.answer %}
			
         	<input type="radio" name="answer" value="{{answer}}">{{answer}}
         {% endfor %}
		<input class="ghost-button" type="submit" value="Submit" style="background-color: #717568">
        </form>
	{% endfor %}

<script type="text/javascript">
	var ul = document.querySelector('ul');
	for (var i = ul.children.length; i >= 0; i--) {
    	ul.appendChild(ul.children[Math.random() * i | 0]);
	}	

</script>
</body>
</html>