{% extends 'base.html' %}
{% block content %}

	<div class="container" style="background-size: cover;">
			<div class = "col-lg-12" align="center">
				<h1 class="page-header">Q U I Z
				</h1>
			</div>

	<form method="POST" action = "{% url 'notes:results_page' user.get_username pk qs %}">
		{% csrf_token %}
	{% for question in questions.questions %}
		<p class="question" style="font-weight: bold; font-size: 2rem;">{{question.question}}</p>
		
		{% for answer in question.answer %}
		<div class = "row">
			<input id = "answer" type="radio" name="answer-{{forloop.parentloop.counter}}" value="{{answer.1}}"><p class="question" style="display: inline-block; font-size: 1.5rem;"></p>
			<label class = "notes-add" for = "answer">{{answer.0}}</label>
		</div>
        {% endfor %}
	{% endfor %}
	<div class="row my-5">
		<input class="button" type="submit" value="Submit">
	</div>
     </form>
   </div>

<script type="text/javascript">
	var ul = document.querySelector('ul');
	for (var i = ul.children.length; i >= 0; i--) {
    	ul.appendChild(ul.children[Math.random() * i | 0]);
	}	

</script>

{% endblock content %}
