{% extends "base.html"%}
{% block content %}
	<!--Name-->
	<div class>
		<div class="container" style="background-size: cover;">
			<div class = "col-lg-12" align="center">
				<h1 class="page-header">N O T E B O O K S
				</h1>
			</div>
			<div class="col-md-12" align="center">
				<a class="ghost-button-notebook" href="#notebook1">Notebook 1</a>
				<a class="ghost-button-notebook" href="#notebook2">Notebook 2</a>
				<a class="ghost-button-notebook" href="#notebook3">Notebook 3</a>
			</div>
		</div>
	</div>
{% endblock content %}